.first {
    background-color: #666666;
    color: black;
}

.second {
    background-color: #00cc00;
    color: #0095b6;
}

.third {
    background-color: #310062;
    color: red;
}

.fourth {
    background-color: #ffff00;
    color: 808080;
}

.fifth {
    background-color: #99ff00;
    color: 6600ff;
}

form.login_form {
    margin-left: auto;
    margin-right: auto;
    max-width: 450px;
    background-color: #ffffff;
    border: 1px solid gray;
    border-radius: 5px;
    padding: 10px;
}